@font-face {
  font-family: Dancing Script;
  src: url("../fonts/DancingScript-regular.ttf");
}

body{
  background-color: #02010a;
  font-family: Dancing Script;
  font-size: 1.6vw;
}

a, a:hover, a:visited {
  color: white;
  text-decoration: none;
}

img{
  border-style: solid;
  border-color: black;
}

#encabezado{
  background-color:  #5b7989;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
}

#encabezado>div{
  text-align: center;
  width: 50%;
}

#encabezado #titulo{
  text-shadow: 2px  #02010a;
  color: white;
  float: left;
  text-align: left;
  padding-left: 5%
}

#encabezado #nav{
  float: right;
  padding-right: 5%;
}

#encabezado #nav ul{
  display: flex;
  list-style: none;
  float: right;
}

#encabezado #nav li{
  padding: 4%;
}

#contenido #imagenPrincipal{
  background-color: #82c3a6;
  text-align: center;
  padding: 3%;
}

#contenido #imagenPrincipal img{
  width: 90%;
}

#contenido #imagenSecundaria{
  background-color: #d5c75f;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 3%;
}

#contenido #imagenSecundaria a{
  color: black;
}

#contenido #imagenSecundaria img{
  width: 30%;
}

#contenido #imagenSecundaria #imagen2{
  float: left;
  width: 50%;
}

#contenido #imagenSecundaria #imagen2 img:hover{
  -webkit-animation-name: rotacion;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  border-style: solid 2px;
  border-color:  #82c3a6;
}

#contenido #imagenSecundaria #imagen3{
  float: right;
  width: 50%;
}

#contenido #imagenSecundaria #imagen3 img:hover{
  -webkit-animation-name: traslacion;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  border-style: solid 2px;
  border-color:  #82c3a6;
}

footer{
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  color: black;
  padding: 5%;
}

footer img{
    border-style: none;
    width: 6%;
    padding-right: 3%;
}

footer>div{
  width: 25%;
}

footer a, a:hover, a:visited{
  color: black;
}

footer ul{
  list-style: none;
}

footer li{
  padding: 3%;
}

@keyframes rotacion {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(10deg);
  }
}

@keyframes traslacion {
  from{
    transform: translate(0px,0px);
  }
  to{
    transform: translate(20px,-5px);
  }
}
